@value common: "../../theme/common.css";
@value rose-red, mid-grey, dark-grey, light-grey, plain-white from common;

.user {
    display: flex;
    gap: 0.5em;
    padding: 1em 2.5em;
    border-bottom: 1px solid light-grey;
}

.userPics{
    flex-grow: 2;
    background-color: mid-grey;
    border-radius: 50%;
    width: 50px;
    height: 44px;
}

.userMessage {
    width: 70%;
}

.userMessage > h4{
    margin: 0;
    flex-grow: 6;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.userMessage > p {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: dark-grey;
    line-height: 22px;
    text-overflow: ellipsis;
    line-height: 18px;
}

.timer {
   width: 25%;
   font-size: 10px;
   font-weight: bold;
   position: relative;
}

.timer > p {
    margin: 0;
    color: mid-grey;
}

.timer > p > span {
    line-break: anywhere;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    color: mid-grey;
}

.missedMessage {
    width: 20px;
    height: 20px;
    background: rose-red;
    border-radius: 4px;
    text-align: center;
    color:  plain-white;
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
    right: 20px;
    position:absolute;
    bottom: 0;
}